@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=IBM+Plex+Sans:wght@200;300;400;500;600&family=Space+Grotesk:wght@400;500;600;700&display=swap');

body {
    background-color: rgb(112, 181, 172);
    
    /* overflow:hidden; */
}

.window {
    box-shadow: inset 2px 2px white, 2px 2px 0px 0px #898989;
    background-color: rgb(221, 221, 221);
    padding-bottom: 20px;
}

.master {
    height: 90vh;
    overflow: hidden;
}

/* PolaParty Title */
.pp {
    /* font-family: 'Space Grotesk'; */
    /* font-family: 'IBM Plex Sans', sans-serif; */
    font-family: 'DotGothic16', sans-serif;
    font-weight: 400;
    font-size: 3.0em; /* 30px */
    color: rgb(0, 0, 0);

    text-align: center;

    margin-bottom: 0px;
}

.navbar {
    border: black;
    box-shadow: inset 2px 2px white;
    background-color: blue;
    /* height: 20px; */

    padding-left: 12px;
    padding-right: 12px;

    display:flex; 
    /* flex-direction: column;
    align-items: flex-start; */
    /* justify-content: space-between; */
    align-items: center;
    gap:8px;
}

.fakeBold {
    text-shadow:1px 0 0 white,1px 0 0 white
}

.navbar p { 
    color:white;
    font-family: 'DotGothic16', sans-serif;

    margin-top:4px;
    margin-bottom:4px;

    text-align:left;
    margin-right: auto;
}

.navbar div {

    text-align: right;
}

.subbar {
    display:flex;
    align-items: center;
    /* padding-left: 12px; */
}

.subbar p {
    margin-top: 5px;
    padding-left: 12px;
    font-family: 'DotGothic16', sans-serif;
}

/* Each page section */
.section-header {
    margin: auto;
    width: 90%;
}

.section-header p {
    margin-top: 0px;
    font-family: 'DotGothic16', sans-serif;
    text-align: center;
}


#upload-p {
    /* margin:auto; */
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    /* justify-content: center;
    padding:auto; */
}

#upload {
    font-family: 'DotGothic16', sans-serif;

    user-select: none;
    text-decoration: none;

    color: rgb(0, 0, 0);
    background-color: rgb(221, 221, 221);
    border: 1px solid rgb(0, 0, 0);
    /* background-color: white; */

    padding-left: 6px;
    padding-right: 6px;

    text-align: center;

    margin:auto;

    box-shadow: inset 2px 2px white, 2px 2px 0px 0px #000000;
}

#w-chat {
    width: 20%;
    margin-left: 50px;
    min-width: 200px;
}

#w-desc {
    width: 30%;
    min-width: 200px;
    margin-right: auto;
    margin-left: auto;
}

#w-img {
    width: 20%;
    margin-left: 50px;
    margin-right: 50px;
    min-width: 200px;
}

.chatBox {
    background-color: white;
    box-shadow: inset 2px 2px #898989;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
}

.hAlign {
    display: flex;
}

.description {
    padding-left: 12px;
    font-family: 'DotGothic16', sans-serif;
}

#chattext {
    margin-top: 5px;
    margin-right: 12px;
    float: right;
}

#chatsubmit {
    margin: 0px;
    margin-right: 12px;
    float: right;
}

.draggable {
    /* width: 25%;
    min-height: 6.5em;
    margin: 1rem 0 0 1rem;
    background-color: #29e;
    color: white;
    border-radius: 0.75em;
    padding: 4%; */
    touch-action: none;
    user-select: none;
  }