<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static/stylesheets/index.css'>
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <p>PolaParty</p>
        <div><p>_</p></div>
        <div><p>□</p></div>
        <div><p>X</p></div>
    </div>

    <div class="section-header">
        <h1 class="pp">PolaParty</h1>  
    </div>


    <div class="section-body">
        <p id="upload-p"><a href='/form' id="upload">Upload</a></p>
    </div>
</body>
</html>