<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/static/stylesheets/index.css'>
    <title>Document</title>
</head>
<body>
    <div class="section-header">
        <h1 class="pp">PolaParty</h1>  
    </div>

    <div class="aboveBelow">
        <div class="slidingText">
            <p class="RightToLeft">::: I mµ$+ n07 f3@r. F3@r is t#3 m!nd-killer. F3@r is t#3 l!7+le-d34th th@+ br!ng$ t0+al obl!+er@+!0n. I w!ll f@c3 mµ$+ f3@r. I w!ll perm!t !7 t0+ pa$$ 0v3r m3 and thru m3. 4nd wh3n !7 h@$ g0n3 pa$$+ I w!ll +urn th3 !nn3r 3y3 2 $ee !+$ p@th. Wh3r3 th3 f3@r h@$ g0n3 th3r3 w!ll b3 n07h!ng. Only I w!ll rem@!n :::</p>
        </div>
    </div>

    <div class="section-body">
        <p id="upload-p"><a href='/form' id="upload">BEGIN</a></p>
    </div>
</body>
</html>