<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Simple HTML Form</h2>
    
    <form method="post" enctype="multipart/form-data" ><!-- action="/upload" -->
        <!-- Text Input -->
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <!-- Date Selector -->
        <label>Date:</label><br>
        <input type="date" id="date" name="date" required/><br><br>

        <!-- Image Uploader -->
        <label for="file">Select a file:</label>
        <input type="file" id="file" name="file" accept=".jpg, .png, .pdf" required>
        
        <!-- Description -->
        <label for="description">Description:</label>
        <textarea type="text" id="description" name="description" rows="4" cols="50"></textarea>

        <!-- Upload Button -->
        <input type="submit" value="Upload">
    </form>
</body>
</html>